
#layout {
    
    width: 100%;
    height: 1024px;
    top: 622px;
    margin:15px;
    left: -2277px;
    background-color:#F3F5FC; 

}
#contenedor{
    display:flex;
    width: 90%;
    height: 900px;
    background-color: aquamarine;
    padding: 20px;
}

#entrada{

    flex: 1;
    margin:40px;
    background-color:burlywood;

}

#salida{
    
    width: 250px;
    /*flex: 1;*/
    margin:40px;
    border-radius: 32px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px #00000014; 
    padding: 10px; 
}

#resultado{
    margin:100px auto;
    height:30px;
    padding: 20px; 
    width: 200px;
}


#muñeco{
    width: 200px;
    margin: 60px auto;
    padding: 20px; 
}

#mensaje1{
    margin: 60px auto;
    height: 30px;
    padding: 20px; 
    width: 200px;
}

#textoingresado {
    display:block;
    /*width: 577px;*/
    height: 48px;
    margin: 168px auto;
    /*margin-left: 240px;*/
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    border:1px solid #0A3871;
}


.botones{
    display: flex;
    background-color: bisque;
    margin:300px auto;
    padding: 20px;
    height: 80px;

}

button {
    flex: 1;
    margin: 20px;
    height: 40px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
}


