
#layout {
    
    width: 1440px;
    height: 1024px;
    top: 622px;
    margin:15px;
    left: -2277px;
    background-color:#F3F5FC; 

}
#contenedor{
    display:flex;
    width: 90%;
    height: 900px;
    background-color: aquamarine;
}

#entrada{
    flex:75%;
    margin:20px auto
}

#rectangle1{
    flex: 25%;
    margin:20px;
    border-radius: 32px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px #00000014;  
}

#textoingresado{
    width: 577px;
    height: 48px;
    margin-top: 168px;
    margin-left: 240px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    border:1px solid #0A3871;
}
#logo{
    width: Fixed (120px);
    height: Fixed (48px);
    margin-top: 40px;
    margin-left: 40px;
    gap: 40px;
    
}

.botones{
    display: flex;
    background-color: bisque;
    margin:300px auto;
    padding: 2px;
    height: 80px;

}

button {
    flex:auto;
    margin: 20px;
    height: 40px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
}


